*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {font-family: "Tw01";
    src: url("../assets/mujifont.woff") format("woff");
  }

:root {             
    --bg--clr: #000;
    --clr--text-light: #fff;
    --clr--text-sub: ;

    --h1-fs: 3.5rem;
    --h2-fs: 2.5rem;
    --h3-fs: 2rem;
    --body-fs: 1.25rem;
    --arrow-fs-mob: .85rem;

    --ff-title: 'DM Serif Display', serif;
    --ff-subtitle: ;
    --ff-text: 'Tw01', serif;
    --ff-counter: 'Great Vibes', cursive, serif;

    --shadow: 0 2px 0.75rem rgb(51 51 51 / 35%); 
    --gd-box: ;

    --arrow-maxwidth: 150px;
    /* > 799 = arrow's width need some adjust maybe 120 - 150px
    but for 800 + using 180px - 200px  */
}

@media (min-width: 800px) {
    /* change font-size here in root*/
    :root{
    --h1-fs: 4.5rem;
    --h2-fs: 3.5rem;
    --h3-fs: 3rem;
    --body-fs: 1.65rem;
    --arrow-fs-mob: 1rem;


    --arrow-maxwidth: 200px;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg--clr);
    margin: 0;
    box-sizing: border-box;
    color: var(--clr--text-light);
    font-family: var(--ff-text);
    font-size: var(--body-fs);
    line-height: 1.6;
    width: 90%;
    margin: 0 auto;
    min-width: 425px;
    padding: 1em; 
    -webkit-font-smoothing: antialiased;
    /* padding for mobile device */
}

img {
    display: block;
    max-width: 100%;    
}


/* ////////////
layout 
////////////// */

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 2em;
}

.logo {
    width: 100%;
    max-width: 400px;
}

.nav {
    position: fixed;
    background: var(--bg--clr);
    color: var(--clr--text-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* this is when nav open */
    /* 0 0 0 0  make it overflow all over the page  */
    /* z-index 100 = make it on top of everything */

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'TwCenW01-Medium';
}

.nav__link {
    color: var(--clr--text-light);
    /* font-weight: var(--fw-bold); */
    font-size: var(--h3-fs);
    text-decoration: none;
}

.nav__link:hover {
    /* color: var(--clr-text-onblack); */
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}
.nav-open .hamburger::after {
    opacity: 0;
}
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

/* hamburger */
/* animateable */

.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr--text-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;

}

.hamburger::before {
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}

/* close header */

/* counter header & number */

.intro__section--header {
    display: flex;
    align-items: baseline;
    margin-bottom: 2em;
}

.intro__section--title {
    margin-left: 1em;
}

/* close counter header  */

/* introduction */

.intro__wrapper {
    width: 100%;
    height: 100%;
    /* max-width: 180px; */
    max-width: var(--arrow-maxwidth);
    position: relative;
    text-align: center;
    border-radius: 50%;
    border: 2px solid var(--clr--text-light);
    z-index: 1;
}

/* ทำจากตรงนี้ ให้เล็งที่ .intro__wrapper:hover > .img__overlay 
แล้วดัน opacity + ใส่ effect ตอนที่ text มันโผล่ */

.img__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 1); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    pointer-events: none;
    /* background: white; */
    border-radius: 50%;
    /* max-width: 180px; > this size is for 800px ++ for window mode change it in media 800 */
    max-width: var(--arrow-maxwidth);
    margin: 0 auto;
    z-index: 99;
    transform: scale(0);
    transition: all 400ms ease-in-out;
    transition-delay: 400ms;
    /* text-align: center; */
    /* border-radius: 50%; */
}

.arrow-container {
    width: 100%;
    position: relative;
    border-radius: 50%;
    /* position: absolute; */
    transform: scale(1);
    transition: all 250ms ease;
    z-index: 1;
}

.img__overlay--bg {
    /* max-width: 180px; */
    max-width: var(--arrow-maxwidth);
    /* max-height: 180px; */
    max-height: var(--arrow-maxwidth);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 50%;
    /* position: absolute; */
    transform: scale(0);
    transition: all 300ms ease;
    transition-delay: 175ms;
    z-index: 50;
    background: var(--clr--text-light);
}

.arrow {
    /* max-width: 180px;*/
    max-width: var(--arrow-maxwidth);
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    background: black;
    /* transition-duration: 500ms; */
    /* transition: background 250ms ease-out; */
    /* background: #fff;   */
}

.intro__wrapper:hover .arrow-container {
    transform: scale(0);
}

.intro__wrapper:hover .img__overlay--bg {
    transform: scale(1);
}

.intro__wrapper:hover .img__overlay {
    transform: scale(1);
}



/* ////////////
typography 
////////////// */

.img__text {
    color: var(--bg--clr);
    font-size: var(--arrow-fs-mob);
}

.section__counter--number {
    font-size: var(--h2-fs);
    font-family: var(--ff-counter);
    letter-spacing: 2px;
}

.section--title--Head {
    font-size: var(--h3-fs);
    font-family: var(--ff-title);
    margin: 0;
    line-height: 1;
    letter-spacing: 2px;
}
.section--title--subtitle {
    margin: 0;
    margin-top: .5em;
    line-height: 1;
    font-size: .85rem;
}


/* ////////////
svg  
////////////// */


.st0{fill:#FFFFFF;}
.st1{
    fill:none;stroke:#FFFFFF;
    stroke-width:10;stroke-miterlimit:10;
    position: relative;
}

@media (min-width: 800px) {

}

/* in 800px ++ I won't be using hamburger toggle nav . 
because we have enough space to use now so we won't need that anymore */